/* *{
  padding:0;
  margin: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border;
} */

nav a
{
  background-color: #009EA9;
  font-style: bold;
  color: white;
  border: 1px solid white;
}
.title
{
  color: #414143;
}
.icon-color
{
  color: #55b590;
}
.icono
{
  color: #FAD956;
}

img
{
  width: 600px;
  height: 350px;
}

form
{
  border: 3px solid #F8A602;
}

.submit-button
{
  background-color: #F8A602;
  color: white;
}

.active-color
{
  background-color: #F8A602;
}
.active-color:hover
{
  color: white;
}

.nav-act:hover
{
  color: white;
  background-color: #FAD956;
}
/* .contenedor{
  width:95%;
  max-width:1000px;
  margin:auto;
}

.contenedor p{
  margin-bottom:40px;
}

header nav{
  background:#0A0A2A;
  margin-bottom:10px;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

header nav ul{
  list-style:none;
  overflow: hidden;
}

header nav ul li{
  float:left;
}

header nav ul li a{
  display:block;
  padding:20px;
  color:#fff;
  text-decoration:none;
}

header nav ul li a:hover{
  background:#424242;
}

.menu-fixed{
  position:fixed;
  z-index:1000;
  top:0;
  width:100%;
  max-width:1000px;
  box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

.menu-fixed ul li a{
  padding:15px 20px;
}

body{
  font-family: Georgia, "Times New Roman",Times, serif;
} */
