.agregar_clientes{
	margin: auto;
	width: 50%;
	padding: 50px 0 50px 0;
	border-style: solid;
	border-width: 5px;
}

.agregar_clientes h1{
	color: white;
	padding-left: 15px;

}

.agregar_clientes input[type="text"] {
	width: 40%;
    display: block;
    margin : 0 auto;
}

.agregar_clientes label{
	color: white;
	padding-left: 15px;
}

.agregar_clientes input[type="submit"] {
	width: 40%;
    display: block;
    margin : 0 auto;
}

.widget {
    background-color: #fff;   
    margin: 0 0 15px;
    border: 1px #2c5aa0 solid;

 }

 .widgettitulo {
    background: #C4C4C4;
    background: -moz-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C4C4C4), color-stop(100%, #A4A4A4));
    background: -webkit-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -o-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -ms-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    text-align: center;
    color:#222;
    margin: 0 0 5px;
    padding: 6px 0;
}

.datagrid table { 
	border-collapse: collapse; 
	text-align: left; width: 100%; 
} 

.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif; 
	background: #fff; overflow: hidden; 
	border: 1px solid #006699; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	}

.datagrid table td, .datagrid table th { 
	padding: 3px 10px; 
}

.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#006699; color:#FFFFFF; font-size: 15px; 
	font-weight: bold; border-left: 1px solid #0070A8; 
	} 

	.datagrid table thead th:first-child { 
		border: none; 
		}

	.datagrid table tbody td { 
		color: #00557F; 
		border-left: 1px solid #E1EEF4;
		font-size: 12px;
		font-weight: normal; 
	}

	.datagrid table tbody .alt td { 
		background: #E1EEf4; color: #00557F; 
	}

	.datagrid table tbody td:first-child { 
		border-left: none; 
	}

	.datagrid table tbody tr:last-child td { 
		border-bottom: none; 
	}

	.datagrid table tfoot td div { 
		border-top: 1px solid #006699;background: #E1EEf4;
	} 

	.datagrid table tfoot td { 
		padding: 0; font-size: 12px 
	} 

	.datagrid table tfoot td div{ 
		padding: 2px; 
	}

	.datagrid table tfoot td ul { 
		margin: 0; 
		padding:0; 
		list-style: none; 
		text-align: right; 
	}

	.datagrid table tfoot  li { 
		display: inline; 
		}

	.datagrid table tfoot li a { 
		text-decoration: none; 
		display: inline-block;  
		padding: 2px 8px; 
		margin: 1px;
		color: #FFFFFF;
		border: 1px solid #006699;
		-webkit-border-radius: 3px; 
		-moz-border-radius: 3px; 
		border-radius: 3px; 
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
		background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
		background-color:#006699; 
	}

	.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
		text-decoration: none;
		border-color: #00557F; 
		color: #FFFFFF; 
		background: none; 
		background-color:#006699;
	}

.container{
	width: 800px;
	min-height: 50px;
	margin: auto;
	padding: 2px;
	background-color: #fff;
	border: solid 1px #CCC;
}

.container input{
	width: 100%;
	height: 60px;
}

.center{
	text-align: center;
}